/* CSS Document */

ul.qmenu{
   display: block;
   position: relative;
   list-style:none;
   margin-left: 61px;
}

ul.qmenu li{
   float: left;
   list-style:none;
   z-index: 1000;
   overflow: visible;
   position: relative;
}
ul.cmenu li  img{
   display: block;  
   background-color: white;
   margin-left: 20px;
   margin-top: 10px;   
}
ul.qmenu li a{
 display: block;
 float: none;
 background-color: #979797;
}
ul.qmenu li a.qmenu{
 background-color: #006666;
 color: #eee;
}


ul.qmenu li a.qsubmenu{
  background-color: white;
  color: #979797;
  height: 20px;
  line-height: 20px;
  display: block;

}

ul.qmenu li p{
 display: none;
 overflow: hidden;
 position: absolute;
 border-radius: 0 0 10px 10px ;
 background-color: white;
}























